/* =================================== */
/*  Layouts
/* =================================== */

.invoice-container {
	margin: 15px auto;
	padding: 70px;
	max-width: 850px;
	background-color: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

@media (max-width: 767px) {
	.invoice-container {
		padding: 35px 20px 70px 20px;
		margin-top:0px;
		border:none;
		border-radius: 0px;
	}
}